<!DOCTYPE html>
<html>
  <head>
    <title>Insert Data</title>
  </head>
  <body>
    <form action="/ind"  method="POST">
            <button onclick="return confirm('Are you sure?')">ADD</button> 
    </form>
    <form action="/res" method="GET">
            <button onclick="return confirm('Are you sure ?')">View</button> 
    </form>
    </body>
</html>